$primary-text:#424242;
$secondary-text:#ffffff;
$background-01: #000;
$background-02: linear-gradient(rgba(255,255,255,0.5),rgba(0, 0, 0, 1));
$text:#4d4646;

@mixin respond-to($media) {
    @media only screen and (max-width: $media + "px") {
        @content;
    }
}


@mixin respond-toSP($media) {
    @media only screen and (min-width: $media + "px") {
        @content;
    }
}