@import '../../Assets/scss/variable.scss';

.nav{ 
    height: 100%; 
    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    li{ 
        padding:0 15px;
        color:#ffffff;
        a,button{
            color:#ffffff;
            width: 100%;
        }
    }
    .MuiSvgIcon-root{
        font-size: 18px;
        color:#ffffff;
    }
    .MuiButton-iconSizeLarge{
        
        &> *:first-child{
            font-size: 30px;
        }
    } 
    .MuiButton-textSizeLarge{
        font-size:16px; 
        font-weight: bold;
        justify-content: flex-start;
    } 
    
}