@import '../../Assets/scss/variable.scss';

.nav{ 
    height: 100%; 
    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    li{ 
        margin-right: 15px;
        color:#ffffff;
        a,button{
            color:#ffffff;
            width: 100%;
        }
    }
    .MuiSvgIcon-root{
        font-size: 18px;
        color:#ffffff;
    }
    .MuiButton-iconSizeLarge{
        
        &> *:first-child{
            font-size: 30px;
        }
    } 
    .MuiButton-textSizeLarge{
        font-size:16px; 
        font-weight: bold;
        justify-content: flex-start;
    } 
     .search{ 
         width: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         .MuiSvgIcon-root{
            font-size: 26px;
            color:#ffffff;
        }
         input{
            background: #ffffff;
            border: none; 
            width: 50px; 
            padding:5px 10px;
            margin-right: 5px;
            border-radius: 10px;
            outline: none;
            color: #000;
            transition: all 0.3s; 
            &:focus{
                width: 100%;
                transition: all 0.3s;
            }
         } 
     }
}

