@import '../../Assets/scss/variable.scss';

.nav{ 
    height: 100%; 
    .menu-icon{
        display: none;
    }
    @include respond-to(1024){
        .menu-icon{
            display: block;
            position: absolute;
            top: 55%;
            left: 0;
            transform: translate(0,-50%);
            z-index: 1000;
        }
        ul{
            position: absolute;
            z-index: 1000;
            width: 100%;
            top: 59px;
            left: -100%;
            opacity: 0; 
            flex-wrap: wrap;
            background: #4d4646;
            transition: all 0.3s;
            li{
                width: 100%;
            }
            &[data-hide=true]{
                opacity: 1;
                left: 0;
                transition: all 0.3s;
            }
        }
    } 
    ul{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
    }
    li{ 
        margin-right: 15px;
        color:#dadada;
        a,button{
            color:#dadada;
            width: 100%;
        }
    }
    .MuiSvgIcon-root{
        font-size: 18px;
        color:#dadada;
        @include respond-to(1024){
            font-size: 40px;
        }
    }
    .MuiButton-iconSizeLarge{
        
        &> *:first-child{
            font-size: 30px;
        }
    } 
    .MuiButton-textSizeLarge{
        font-size:16px; 
        font-weight: bold;
        justify-content: flex-start;
    } 
     .search{ 
         width: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         .MuiSvgIcon-root{
            font-size: 26px;
            color:#dadada;
        }
         input{
            background: #ffffff;
            border: none; 
            width: 100%; 
            padding:5px 10px;
            margin-right: 5px;
            border-radius: 10px;
            outline: none;
            color: #000;
            transition: all 0.3s; 
            @include respond-to(400){
                width: 50%; 
            } 
         } 
     }
}

