@import '../../Assets/scss/variable.scss';
@include respond-to(600){
    .list-items{
        flex-wrap: wrap !important;
        .MuiGrid-item{
            width: 100%;
            h3,p{
                padding:0 15px;
            }
        }
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}