@font-face {
  font-family: FaktPro; 
  src: url(./Assets/font/FaktPro-Medium.ttf);
  font-display: swap
}
body {
  margin: 0;
  font-family: FaktPro, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  font-family: FaktPro, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif !important; 
}

code {
  font-family: FaktPro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
