@import '../../Assets/scss/variable.scss';
 
.homepage{
    .MuiContainer-root{
        overflow-x: hidden;
        padding: 0;
    }
     
    .MuiTypography-body2{
        height: 60px;
        overflow: hidden;
    }
    .MuiTypography-h5{
        height: 35px; 
        display: flex;
        align-items: center;
    }
    .slick-slider {
        margin: 0 -15px;
        .slick-slide {
            padding: 0 15px;
            @include respond-to(1024){
                padding: 0 5px;
                .MuiTypography-h5{
                    height: 35px !important;
                }
            }
        }
         
    }  
    .MuiButton-text{
        float: right;  
    }
    .slick-list{
        width: 100%; 
    }
    .MuiGrid-item,h1{
        margin: 15px 0;
        font-size: 35px;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
        position: relative;
        line-height: 1;
    } 
    
    .MuiPaper-rounded{
        border-radius: 0;
    }
} 
.MuiCardContent-root{ 
    svg{
        position: absolute;
        top: 10px;
        left: 16px; 
    }
}
.category-title{
    .MuiGrid-item{
        position: relative;
    }
    img{
        height: 40px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
        margin: 40px 0; 
        cursor: pointer;
    }
    h4{
        position: absolute;
        top: 55%;
        left: 50%;
        text-align: center;
        color: #ffffff;
        transform: translate(-50%,-50%);
        cursor: pointer;
    }
}

.box-highlights{
    margin: 0 0 -40px 0 !important;
    position: relative; 
    &:hover img{
        filter: grayscale(0); 
    }
    img{
        width: 100%;
        border-radius: 5px;
        filter: grayscale(1); 
        transition: all 0.3s;
        height: auto;
       
    }
   
    .content{
        padding:30px;
        position: absolute;
        bottom: -7px;
        left: 0;
        background: #00000055;
        z-index: 100;
        border-radius: 5px; 
        margin: 20px 15px;
        overflow: hidden; 
        height: 200px;
        h4{
            font-size: 25px;
            color:#ffffff
        }
        p{
            font-size: 17px;
            color:#ffffff;
            height: auto;
           
        }

    }
    @include respond-to(1024){
        margin: 0 0 10px 0 !important;
        .content{ 
            background: transparent;
            height: auto;
            h4{
                font-size: 18px; 
            }
            p{ 
                font-size: 14px; 
            }
    
        }
    }
}  
.overflowScroll{
    flex-wrap: unset !important;
    @include respond-to(1024){
        overflow-x: scroll;
        img{
            width: auto;
        }
    }
}
.MuiCard-root{
    .MuiCardContent-root {
        padding: 0 16px;
    }
}